*{
	margin: 0;
	padding: 0;
}

@media all and (min-width: 415px){
	.wrapper{
		width: 375px;
		margin: 0 auto;
	}
	body{
		background: #ccc;
	}	
}



.open{
	text-align: center;
	position: absolute;
	bottom: 7%;
	width: 100%;
}
.open img{
	height: auto;
	border-radius: 50%;
	width: 15%;
	margin-left: 10px;
}



.intro-1{
	    margin-left: 35%;
	    margin-right: 5%;
	    margin-top: 5%;	
	    width: auto;
	    height: auto; 
	    padding: 0.5em;
	    font-size: 0.8em;
}


.intro-2{
	    margin-left: 35%;
	    margin-right: 5%;
	    margin-top: 5%;	
	    width: auto;
	    height: auto; 
	    padding: 0.5em;
	    font-size: 0.8em;
}



#loading{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ffda4a;
	top: 0; left: 0; bottom: 0; right: 0;  
}
#loading img{
	width: 50%;
	max-width: 300px;
	height: auto;
	  overflow: auto;  
	  margin: auto;  
	  position: absolute;  
	  top: 0; left: 0; bottom: 0; right: 0;  
}
#loading p{
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 1em;
	font-size: 2.5em;
}

/*page1 ended, page2 begins*/
.titleImg{
	position: relative;
	width: 50%;
	left: 41%; 
	top: 2%;
	z-index: 10;
}

.decorationImg{
	position: relative;
	left: 40%;
	width: 60%;
	top: 1%;
	opacity: 0.1;
}


.contentImg{
	position: relative;
	width: 53%;
	left: 41%;
}

